# MISC
*.txt
.DS_Store
*.env*
target

# Muting intellij content for now
.idea
/griddlers.iml

# Muting all test/scratch files for lessons
/src/main/java/com/connorjensen/griddlers/StyleViolations.java
/src/main/java/com/connorjensen/griddlers/testpackage/TestEnum.java
/src/main/java/com/connorjensen/griddlers/ImportOrderTest.java

# Agent specific files
.agents/archive/session-artifacts
